{% form_theme form "@ToroShopSeo/Form/theme.html.twig" %}
{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

{{ form_errors(form) }}

<div class="ui equal width grid">
    <div class="column">
        {{ form_row(form.pathInfo) }}
        {{ form_row(form.routeName) }}
        {{ form_row(form.parameters) }}
    </div>

    <div class="column">
        {{ translationForm(form.translations) }}
    </div>
</div>
