<div class="ui{% if options.icon is defined %} labeled icon{% endif %} floating dropdown {{ options.class|default('') }} link button">
    {% if options.icon is defined %}<i class="{{ options.icon }} icon"></i>{% endif %}
    <span class="text">{{ action.label|trans }}</span>
    <div class="menu">
        <a class="item" href="{{ path('sylius_admin_product_option_create') }}">{{ 'Common'|trans }}</a>
        {% for key, types in get_service_all_product_types() %}
            {% set path = path('sylius_admin_product_option_create', { type : key }) %}

            <a class="item" href="{{ path }}">{{ types.label|trans }}</a>
        {% endfor %}
    </div>
</div>
