{% form_theme form "@ToroShopAddress/Admin/Sylius/Geo/_form_theme.html.twig" %}

<div class="two fields">
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
</div>
{{ form_row(form.phoneNumber) }}
{{ form_row(form.street) }}
{{ form_row(form.geo) }}
